@model Subpage
@{
    ViewBag.Title = "Deconstruction";
}

<div class="row">
    <div class="col-12">
        <h2>
            <i>
                @Model.Title
            </i>
        </h2>
        <p>
            @Html.Raw(Model.PageContent.Replace("\n", "<br />"))
        </p>
    </div>
</div>