@model Subpage
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-8">
        <h2>
            <i>
                @Model.Title
            </i>
        </h2>
        <p>
            @Html.Raw(Model.PageContent.Replace("\n","<br />"))
        </p>
    </div>
    <div class="col-4">
        <img src="/Content/Images/@Model.Image" class="img-responsive" />
    </div>
</div>